<div class="header">출발지</div>
<div class="depart" *ngIf="depart" (click)="_moveTo(depart)">{{depart['place'].title | stripTag}}</div>
<div class="non depart" *ngIf="!depart">출발지를 지정해주세요.</div>
<div class="header">여행지 목록</div>
<div class="travel-list">
  <div *ngFor="let marker of pinnedList" class="place">
    <div class="title" (click)="_moveTo(marker)">{{marker['place'].title | stripTag}}</div>
    <div class="btn" (click)="removePinnedMarker(marker)"><button mat-icon-button><mat-icon>clear</mat-icon></button></div>
  </div>
</div>
<div class="btn-list" *ngIf="depart && pinnedList.length > 1">
  <button mat-button (click)="getShortestPath()">추천 경로 확인</button>
</div>
<div class="result" *ngIf="result">
  <div class="distance">총 거리 : 약 {{result.distance | distance}}</div>
  <div class="path">
    <div class="place" *ngFor="let place of result.path ; index as i; first as first; last as last">
      <div class="seq first" *ngIf="first">출발</div>
      <div class="seq" *ngIf="!first && !last">{{i}}</div>
      <div class="seq last" *ngIf="last">도착</div>
      <div class="title">{{place.title | stripTag}}</div>
    </div>
  </div>
  <button mat-button color="primary" (click)="createJournal()">일지 작성하기</button>
</div>