:host {
  padding-left: 5px;
  width: 245px;
  overflow-w: hidden;
}

.header {
  font-size: 1rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.depart {
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
  font-size: 11px;
  cursor: pointer;
}
.depart:hover {
  background: rgba(38, 200, 0, 0.1);
}

.non {
  cursor: default !important;
}
.non:hover {
  background: #FFF !important;
}

.travel-list {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
  .place {
    cursor: pointer;
    padding-left: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    .title {
      flex: 1 1 auto;
    }
    .btn {
      flex: none;
      mat-icon {
        font-size: 16px !important;
      }
    }
  }
  .place:hover {
    background: rgba(38, 200, 0, 0.1);
  }
}

.btn-list {
  margin-top: 15px;
  border-top: 1px solid #00c73c;
}